body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Arial, sans-serif;
}

#countdown {
  display: flex;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  color: #000;
  gap: 8px;
}

/* bloques */
#countdown span {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  padding: 15px 18px;
  border-radius: 16px;
  min-width: 70px;
  text-align: center;
  box-shadow: 0 4px 25px rgba(0,0,0,0.25);
}

/* los ":" */
.sep {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  min-width: auto !important;
  color: #000;
}